@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

@import './header.scss';
@import './banner.scss';
@import './topics.scss';
@import './title.scss';
@import './relatedProducts.scss';
@import './cards.scss';
@import './partners.scss';
@import './seeAll.scss';
@import './products.scss';
@import './brand.scss';
@import './footer.scss';
@import './newsletter.scss';
@import './modal.scss';

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Poppins, sans-serif;
}

.container-center {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 40px;
}