@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
:export {
  gray: rgb(159, 159, 159);
  white: white;
  black: rgb(42, 42, 42);
  primaryColor: rgb(247, 25, 99);
  borderColor: rgb(240, 240, 240);
  inputColor: rgb(246, 245, 242);
}

header .container-header-top {
  height: 32px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(240, 240, 240);
}
@media (max-width: 920px) {
  header .container-header-top {
    display: none;
  }
}
header .container-header-top ul {
  width: 100%;
  display: flex;
  gap: 142px;
  align-items: center;
  justify-content: center;
}
header .container-header-top ul li {
  font-size: 12px;
  font-weight: 600;
  list-style: none;
  display: flex;
  justify-self: center;
  align-items: center;
  color: rgb(159, 159, 159);
}
header .container-header-top ul li i {
  display: block;
  margin-top: 3px;
  margin-right: 10px;
}
header .container-header-top ul li span {
  padding: 0 3px;
  color: rgb(247, 25, 99);
}
header .container-header-center {
  height: 72px;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(240, 240, 240);
}
header .container-header-center .container-header-left-content img {
  width: 139px;
  height: 50px;
}
header .container-header-center .container-header-center-content {
  width: 656px;
  height: 48px;
  position: relative;
}
header .container-header-center .container-header-center-content input {
  width: 100%;
  height: 100%;
  padding: 13px;
  border-radius: 10px;
  border: none;
  background-color: rgb(246, 245, 242);
  color: rgb(159, 159, 159);
  font-size: 14px;
  font-weight: 500;
}
header .container-header-center .container-header-center-content i {
  display: block;
  font-size: 28px;
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-42%);
}
header .container-header-center .container-header-right-content {
  display: flex;
}
header .container-header-center .container-header-right-content .container-header-responsive {
  display: none;
}
@media (max-width: 1180px) {
  header .container-header-center .container-header-right-content .container-header-responsive {
    display: block;
  }
  header .container-header-center .container-header-right-content .container-header-responsive button {
    background: none;
    font-size: 18pt;
    color: rgb(159, 159, 159);
    border: none;
    cursor: pointer;
  }
}
header .container-header-center .container-header-right-content .container-header-responsive .menu-responsive {
  padding: 20px;
  width: 300px;
  height: 100vh;
  z-index: 3;
  position: fixed;
  top: 0;
  right: -300px;
  background-color: white;
  border-left: 2px solid rgb(159, 159, 159);
  transition: 0.3s ease-in-out;
}
header .container-header-center .container-header-right-content .container-header-responsive .menu-responsive.active {
  right: 0;
}
header .container-header-center .container-header-right-content .container-header-responsive .container-header-top-responsive {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(240, 240, 240);
}
header .container-header-center .container-header-right-content .container-header-responsive .container-header-top-responsive ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
header .container-header-center .container-header-right-content .container-header-responsive .container-header-top-responsive ul li {
  font-size: 12px;
  font-weight: 600;
  list-style: none;
  display: flex;
  justify-self: center;
  align-items: center;
  color: rgb(159, 159, 159);
}
header .container-header-center .container-header-right-content .container-header-responsive .container-header-top-responsive ul li i {
  display: block;
  margin-top: 3px;
  margin-right: 10px;
}
header .container-header-center .container-header-right-content .container-header-responsive .container-header-top-responsive ul li span {
  padding: 0 3px;
  color: rgb(247, 25, 99);
}
header .container-header-center .container-header-right-content .container-header-responsive #close-menu {
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(159, 159, 159);
  padding: 5px;
  font-size: 13pt;
}
header .container-header-center .container-header-right-content .container-header-responsive .buttons-right-content-responsive {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 35px;
}
header .container-header-center .container-header-right-content .container-header-responsive .buttons-right-content-responsive button {
  border: none;
  background: none;
  cursor: pointer;
}
header .container-header-center .container-header-right-content .container-header-responsive .buttons-right-content-responsive button i {
  display: block;
  font-size: 24px;
}
header .container-header-center .container-header-right-content .container-header-responsive .container-header-bottom-responsive {
  margin-top: 30px;
  width: 100%;
}
header .container-header-center .container-header-right-content .container-header-responsive .container-header-bottom-responsive nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .container-header-center .container-header-right-content .container-header-responsive .container-header-bottom-responsive nav ul li {
  width: 100%;
}
header .container-header-center .container-header-right-content .container-header-responsive .container-header-bottom-responsive nav ul li button {
  width: 100%;
  height: 40px;
  background: none;
  color: rgb(159, 159, 159);
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;
}
header .container-header-center .container-header-right-content .container-header-responsive .container-header-bottom-responsive nav ul li button:hover {
  color: rgb(247, 25, 99);
}
header .container-header-center .container-header-right-content .container-header-responsive .container-header-bottom-responsive nav ul li button span {
  color: rgb(247, 25, 99);
}
header .container-header-center .container-header-right-content .container-header-responsive .container-header-bottom-responsive nav ul li button i {
  display: block;
  margin-top: 5px;
}
header .container-header-center .container-header-right-content .buttons-right-content {
  display: flex;
  gap: 35px;
}
@media (max-width: 1180px) {
  header .container-header-center .container-header-right-content .buttons-right-content {
    display: none;
  }
}
header .container-header-center .container-header-right-content .buttons-right-content button {
  border: none;
  background: none;
  cursor: pointer;
}
header .container-header-center .container-header-right-content .buttons-right-content button i {
  display: block;
  font-size: 24px;
}
header .container-header-bottom {
  height: 40px;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1180px) {
  header .container-header-bottom {
    display: none;
  }
}
header .container-header-bottom nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container-header-bottom nav ul li {
  width: 100%;
}
header .container-header-bottom nav ul li button {
  width: 100%;
  height: 40px;
  background: none;
  color: rgb(159, 159, 159);
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;
}
header .container-header-bottom nav ul li button:hover {
  color: rgb(247, 25, 99);
}
header .container-header-bottom nav ul li button span {
  color: rgb(247, 25, 99);
}
header .container-header-bottom nav ul li button i {
  display: block;
  margin-top: 5px;
}

:export {
  gray: rgb(159, 159, 159);
  white: white;
  black: rgb(42, 42, 42);
  primaryColor: rgb(247, 25, 99);
  borderColor: rgb(240, 240, 240);
  inputColor: rgb(246, 245, 242);
}

#banner {
  width: 100%;
  height: 395px;
  background-image: url("/public/assets/Banner.png");
  background-size: cover;
}
#banner .container-banner h1 {
  padding-top: 52px;
  font-size: 48px;
  font-weight: 600;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  max-width: 800px;
}
@media (max-width: 550px) {
  #banner .container-banner h1 {
    font-size: 34px;
  }
}
@media (max-width: 370px) {
  #banner .container-banner h1 {
    font-size: 26px;
  }
}
#banner .container-banner h2 {
  margin-top: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  color: white;
  font-weight: 600;
  font-size: 36px;
}
@media (max-width: 550px) {
  #banner .container-banner h2 {
    font-size: 26px;
  }
}
@media (max-width: 370px) {
  #banner .container-banner h2 {
    font-size: 20px;
  }
}
#banner .container-banner button {
  width: 227px;
  height: 60px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin-top: 35px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  color: white;
  /* rosa primario */
  background: rgb(247, 25, 99);
  border-radius: 5px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
@media (max-width: 550px) {
  #banner .container-banner button {
    width: 200px;
    height: 55px;
  }
}
#banner .container-banner button:hover {
  opacity: 0.9;
}

:export {
  gray: rgb(159, 159, 159);
  white: white;
  black: rgb(42, 42, 42);
  primaryColor: rgb(247, 25, 99);
  borderColor: rgb(240, 240, 240);
  inputColor: rgb(246, 245, 242);
}

#topics .container-topics {
  height: auto;
  margin-top: 30px;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
#topics .container-topics button {
  background: none;
  border: none;
  display: flex;
  gap: 22px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
#topics .container-topics button span {
  color: rgb(247, 25, 99);
}
#topics .container-topics button:hover {
  color: rgb(247, 25, 99);
}
#topics .container-topics button i {
  background-color: #F4F4F4;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border: none;
  width: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 61px;
  height: 128px;
}

:export {
  gray: rgb(159, 159, 159);
  white: white;
  black: rgb(42, 42, 42);
  primaryColor: rgb(247, 25, 99);
  borderColor: rgb(240, 240, 240);
  inputColor: rgb(246, 245, 242);
}

#title {
  margin-top: 40px;
  text-align: center;
  position: relative;
  font-size: 30px;
  color: rgb(247, 25, 99);
}
#title::before {
  content: "";
  display: block;
  background-color: #DEDEDE;
  width: 360px;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
}
@media (max-width: 1260px) {
  #title::before {
    display: none;
  }
}
#title::after {
  content: "";
  display: block;
  background-color: #DEDEDE;
  width: 360px;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
}
@media (max-width: 1260px) {
  #title::after {
    display: none;
  }
}

:export {
  gray: rgb(159, 159, 159);
  white: white;
  black: rgb(42, 42, 42);
  primaryColor: rgb(247, 25, 99);
  borderColor: rgb(240, 240, 240);
  inputColor: rgb(246, 245, 242);
}

#related-products .container-product-options {
  margin-top: 3px;
}
#related-products .container-product-options ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#related-products .container-product-options ul li {
  width: 210px;
}
#related-products .container-product-options ul li button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: 1px solid rgb(240, 240, 240);
  background: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#related-products .container-product-options ul li button:hover {
  font-weight: 700;
  color: rgb(247, 25, 99);
}
#related-products .container-product-options ul li button span {
  font-weight: 700;
  color: rgb(247, 25, 99);
}

:export {
  gray: rgb(159, 159, 159);
  white: white;
  black: rgb(42, 42, 42);
  primaryColor: rgb(247, 25, 99);
  borderColor: rgb(240, 240, 240);
  inputColor: rgb(246, 245, 242);
}

.cards-items {
  margin-top: 20px;
  width: 100%;
  position: relative;
}
.cards-items .slide-cards-buttons button {
  background: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
}
.cards-items .slide-cards-buttons .left {
  left: -35px;
}
.cards-items .slide-cards-buttons .right {
  right: -35px;
}
.cards-items .container-slide {
  overflow: hidden;
  width: 100%;
}
.cards-items .container-slide-cards {
  display: flex;
  position: relative;
  gap: 60px;
  padding: 5px;
  transition: 0.3s ease-in-out;
}
.cards-items .container-slide-cards article {
  width: 270px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  height: 500px;
  padding: 32px 11px 16px 11px;
  border-radius: 10px;
}
.cards-items .container-slide-cards article img {
  width: 247px;
  height: 228px;
  margin-bottom: 19px;
}
.cards-items .container-slide-cards article p {
  color: rgb(63, 63, 64);
  font-size: 15px;
}
.cards-items .container-slide-cards article .fake-price {
  color: rgb(128, 128, 128);
  font-size: 16px;
  text-decoration: line-through;
  display: block;
  margin: 12px 0 2px 0;
}
.cards-items .container-slide-cards article .price {
  font-size: 20px;
  color: rgb(63, 63, 64);
  font-weight: 700;
}
.cards-items .container-slide-cards article .split-price {
  display: block;
  font-size: 12px;
  margin-top: 2px;
}
.cards-items .container-slide-cards article .freight {
  color: rgb(247, 25, 99);
  display: block;
  font-size: 12px;
  margin: 7px 0 12px 0;
}
.cards-items .container-slide-cards article button {
  background-color: rgb(247, 25, 99);
  height: 44px;
  width: 100%;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.cards-items .container-slide-cards article button:hover {
  opacity: 0.8;
}

:export {
  gray: rgb(159, 159, 159);
  white: white;
  black: rgb(42, 42, 42);
  primaryColor: rgb(247, 25, 99);
  borderColor: rgb(240, 240, 240);
  inputColor: rgb(246, 245, 242);
}

#partners {
  margin-top: 71px;
}
#partners .container-partners {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 105px;
  justify-content: space-between;
}
#partners .container-partners article {
  flex: 1 1 450px;
  width: 100%;
  height: 350px;
  background-image: url("/public/assets/Partners.png");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  padding: 40px;
}
#partners .container-partners article .content-partners {
  position: absolute;
  top: 33%;
}
#partners .container-partners article .content-partners h4 {
  font-weight: 700;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  font-size: 40px;
}
#partners .container-partners article .content-partners p {
  font-size: 16px;
  color: white;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  margin: 8px 0 32px 0;
}
#partners .container-partners article .content-partners button {
  width: 131px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  background-color: rgb(247, 25, 99);
  color: white;
  border: none;
}

#see-all {
  margin-top: 61px;
}
#see-all #text-see-all {
  margin: 4px 0 32px 0;
  color: black;
  font-weight: 700;
  display: block;
  text-align: center;
}

:export {
  gray: rgb(159, 159, 159);
  white: white;
  black: rgb(42, 42, 42);
  primaryColor: rgb(247, 25, 99);
  borderColor: rgb(240, 240, 240);
  inputColor: rgb(246, 245, 242);
}

#products {
  margin-top: 71px;
}
#products .container-products {
  width: 100%;
  display: flex;
  gap: 105px;
  flex-wrap: wrap;
  justify-content: space-between;
}
#products .container-products article {
  flex: 1 1 450px;
  width: 100%;
  height: 284px;
  background-image: url("/public/assets/Partners.png");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  position: relative;
  padding: 40px;
}
#products .container-products article .content-products {
  position: absolute;
  top: 21%;
}
#products .container-products article .content-products h4 {
  font-weight: 700;
  color: white;
  font-size: 40px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
#products .container-products article .content-products p {
  font-size: 16px;
  color: white;
  margin: 8px 0 32px 0;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
#products .container-products article .content-products button {
  width: 131px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
  background-color: rgb(247, 25, 99);
  color: white;
  border: none;
}

:export {
  gray: rgb(159, 159, 159);
  white: white;
  black: rgb(42, 42, 42);
  primaryColor: rgb(247, 25, 99);
  borderColor: rgb(240, 240, 240);
  inputColor: rgb(246, 245, 242);
}

#brand {
  margin-top: 155px;
  width: 100%;
  position: relative;
}
#brand h2 {
  font-weight: 700;
  color: rgb(247, 25, 99);
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}
#brand .slide-cards-buttons-brand button {
  background: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  z-index: 2;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#brand .slide-cards-buttons-brand button img {
  width: 12px;
  height: 20px;
}
#brand .slide-cards-buttons-brand .left {
  left: 50px;
}
#brand .slide-cards-buttons-brand .right {
  right: 50px;
}
#brand .container-slide-brand {
  overflow: hidden;
  width: 100%;
  position: relative;
}
#brand .container-slide-cards-brand {
  display: flex;
  position: relative;
  gap: 40px;
  padding: 5px;
  transition: 0.3s ease-in-out;
}
#brand .container-slide-cards-brand article {
  width: 211px;
  height: 211px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#brand .container-slide-cards-brand article img {
  width: 172px;
  height: 62px;
}

:export {
  gray: rgb(159, 159, 159);
  white: white;
  black: rgb(42, 42, 42);
  primaryColor: rgb(247, 25, 99);
  borderColor: rgb(240, 240, 240);
  inputColor: rgb(246, 245, 242);
}

footer {
  margin-top: 169px;
  background-color: #2A2A2A;
  min-height: 325px;
  max-height: auto;
}
footer li {
  color: white;
  font-size: 12px;
  font-weight: 300;
}
footer ul {
  list-style: none;
}
footer h5 {
  margin-bottom: 29px;
  color: white;
  font-size: 13px;
}
footer .container-footer {
  padding: 33px 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
footer #content-info {
  flex: 1 1;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
}
footer .container-newsletter {
  flex: 0 0 380px;
  max-width: 100%;
  margin: 0 auto;
}
footer .about-us nav {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
footer .about-us #items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .about-us #social-media {
  display: flex;
  gap: 36px;
}
footer .useful-information ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer .payment-methods ul {
  display: flex;
  flex-wrap: wrap;
  width: 240px;
  gap: 10px;
}
footer .payment-methods li {
  width: 67px;
}
footer .container-footer-bottom {
  border-top: 1px solid white;
  background-color: #2A2A2A;
}
footer .container-footer-bottom .container-bottom {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  max-height: auto;
  padding: 5px 0;
}
footer .container-footer-bottom p {
  font-size: 10px;
  color: white;
  text-transform: uppercase;
}
footer .container-footer-bottom img {
  margin-left: 32px;
}
footer .container-footer-bottom .logos-footer {
  display: flex;
}

:export {
  gray: rgb(159, 159, 159);
  white: white;
  black: rgb(42, 42, 42);
  primaryColor: rgb(247, 25, 99);
  borderColor: rgb(240, 240, 240);
  inputColor: rgb(246, 245, 242);
}

#newsletter {
  width: 380px;
  height: 260px;
  border-radius: 10px;
  padding: 35px;
  background-color: white;
}
#newsletter h6 {
  font-size: 21px;
  text-transform: uppercase;
  line-height: 23px;
}
#newsletter h6 span {
  font-size: 18px;
  display: block;
  font-weight: 400;
  text-transform: uppercase;
}
#newsletter p {
  margin: 15px 0 31px 0;
  text-align: center;
  font-size: 12px;
}
#newsletter form input {
  border: 1px solid rgb(42, 42, 42);
  border-radius: 4px;
  height: 45px;
  width: 230px;
  padding: 0 25px;
}
#newsletter form button {
  background-color: rgb(247, 25, 99);
  color: white;
  height: 45px;
  width: 62px;
  border: none;
  border-radius: 4px;
  margin-left: 9px;
}

#modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.54);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
#modal article {
  width: 729px;
  min-height: 300px;
  max-height: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 87px;
  padding: 50px;
  position: relative;
  z-index: 5;
}
#modal article img {
  flex: 0 0 200px;
  width: 247px;
  height: 210px;
}
#modal article button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
  font-size: 14pt;
  background: none;
  border: none;
  cursor: pointer;
}
#modal article .content-modal h5 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 21px;
  font-family: Lato, Poppins;
}
#modal article .content-modal #price {
  font-size: 20px;
  font-family: Lato, Poppins;
  font-weight: 900;
}
#modal article .content-modal p {
  width: 290px;
  font-family: Lato, Poppins;
  font-size: 10px;
  font-weight: 400;
  margin: 17px 0;
}
#modal article .content-modal a {
  font-size: 12px;
  font-family: Lato, Poppins;
}
#modal #background-modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Poppins, sans-serif;
}

.container-center {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0 40px;
}

/*# sourceMappingURL=global.css.map */
